* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-x:hover {
  background-color: black;
}