* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
}

.f-white,
.f-white * {
  color: white;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-focus:focus {
  outline: none;
}



.next {
  color: black;
  background-color: white;
}



.next:hover {
  color: white;
  background-color: black;
  transition: 0.5s ease-out;
}

.change-color {
color: white;
}

.change-color:hover {
  color: greenyellow;
  transition: 1s ease-out;
}




.home-x:hover {
  background-color: black;
}




/* .go-to-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;
} */
/* .go-to-menu:hover{
  opacity: 1;
  visibility: visible;
} */


.go-to-menu-detail {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0s 0.3s;

}

.go-to-menu-detail:hover {
  opacity: 1;
  visibility: visible;
}

.go-to-menu:hover~.go-to-menu-detail {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

.menu-click:hover {
  background-color: black;
  color: white;
}

.menu-click {
  color: black
}



.info-o {
  color: gray;
}

.info-o:hover {
  color: black;
}


.p-color {
  background-color: rgba(40, 42, 44);
}